body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > *{
    padding: 1vh 10vw;
}

button {
    background-color: #3882f6;
    color: white;
    border: 1px white solid;
    border-radius: 10%;
    padding: 5px 10px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header-logo{
    font-size: 1.5rem;
    color: #F9FAF8;

}

.header-links{
    font-size: 1.125rem;
    color: #E5E7EB;

}

.header ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.hook{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.img-hook{
    min-width: 150px;
    width: 100%;
    height: auto;
}

.hook h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hook p{
    font-size: 1.125rem;
    color: #E5E7EB;
}

.information{
    display: flex;
    flex-direction: column;
}

.information h1{
    margin: 0;
    padding: 1vh 0;
    font-size: 2.2rem;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.info-item .img {
    width: 100%;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 18%;
}

.info-item .text{
    text-align: center;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
    color: black;
}

.quote{
    background-color: #E5E7EB;
    font-size: 2rem;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote .quote-author{
    align-self: self-end;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    background-color: #3882f6;
    max-width: 60vw;
    border-radius: 30px;
    margin: 2vw 0;
    padding: 2vh 10vw;
    align-self: center;
}

.signup h1{
    font-size: 1.3rem;
    margin: 0;
    color: #F9FAF8;
}

.signup p{
    font-size: 1.125rem;
    color: #E5E7EB;
    margin: 0;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}